.idea
wp-config.php
/wp-content/themes/synthetica/assets/scripts/scripts.js
/wp-content/themes/synthetica/assets/scripts/scripts.min.js
/wp-content/themes/synthetica/assets/scripts/scripts.min.js.map
/wp-content/themes/synthetica/assets/styles/style.css
/wp-content/themes/synthetica/assets/styles/style.min.css
/wp-content/themes/synthetica/assets/styles/style.min.css.map
/wp-content/themes/synthetica/node_modules/
/wp-content/themes/synthetica/package-lock.json
/wp-content/uploads/*
!/wp-content/uploads/.gitkeep
/wp-content/debug.log
